.card-nota {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
}
.card-nota_cabecalho {
  overflow: break-word;
  flex-wrap: wrap;
  font-size: 1.1em;
  justify-content: space-between;
  align-items: center;
}

.card-nota_texto {
  flex-wrap: wrap;
  overflow-wrap: break-word;
  margin-top: 8px;
  font-size: 1em;

  word-break: break-word;
}

.card-nota_titulo {
  word-break: break-word;
  border-radius: 2px;
  border-color: tomato;
  word-wrap: break-word;
  font-size: 1.1em;
  margin-right: 12px;
}

.card-nota_categoria {
  padding-bottom: 5px;
  word-break: break-word;
  border-radius: 2px;
  border-color: tomato;
  word-wrap: break-word;
  font-size: 1.2em;
  margin-right: 12px;
}
